body{
    margin-top: 25px;
}

header {
    background-color:rgb(236,130,130) ;
    height: 90px;
    width: 650px;
    margin-left: 75px;
    border: solid black 1.5px;

}

.Welcome {
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 15px;
    
}


#Home {
    margin-left: 265px;
    margin-top: -18px;
}

#About {
    margin-left: 365px;
    margin-top: -15px;
}

#Logout {
    margin-left: 465px;
    margin-top: -15px;
}



.Dot1 {
    margin-top: 7px; 
    width: 625px;
    height: 215px;
    margin-left: 85px;
    border: dotted black 3px;
}

.About {
    margin-top: -190px;
    margin-left: 100px;
    font-weight: 800;
    ;
}



img {
    width: 105px;
    height: 105px;
}


.html-logo {
    margin-left: 105px;
    margin-top: 15px;
    margin-right: 10px;
    float: left;
}



.Body {
    font-size: 11.5px;
    margin-top: 20px;
    margin-left: 100px;
    width: 580px;


}